<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Education-System</title>
	<th:block th:fragment="index_css">
		<link rel="stylesheet" href="http://bit.ly/3WJ5ilK">
	</th:block>
	<style>
		
	</style>
</head>
<body>

	<th:block th:fragment="index_js">
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="https://bit.ly/4cMuheh"></script>
		<script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.13/dayjs.min.js"></script>
	</th:block>	
</body>
</html>
