<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdn.jsdelivr.net/npm/stompjs/lib/stomp.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
	<th:block th:insert="~{inc/index.html :: index_css}"></th:block>
	<link rel="stylesheet" th:href="@{css/chat.css}" />
</head>

<body>
	<th:block th:insert="~{inc/header.html :: menu}"></th:block>
	<div class="messageBox">
		<div id="class">
			JAVA Full-Stack
			<span id="username" th:text="${#authentication.principal.member.username}"></span>
			<!--
			<img src="img/user.png">
			<span id="userNum"></span>
			-->
		</div>
		<div id="messages"></div>
		<div class="messageInputBox">
			<input type="text" id="messageInput" placeholder="메시지를 입력하세요" />
			<button id="sendButton">전송</button>
		</div>
	</div>

	<th:block th:insert="~{inc/index.html :: index_js}"></th:block>
	<script th:src="@{js/chat.js}"></script>
</body>

</html>