@import url("gmarketfont.css");

.signup-container {
	text-align: center;
}

.signup-content {
	margin: 50px 0 30px 0;
}

.signup-title {
	font-family: 'GmarketSansBold';
	font-size: 40px;
	color: #04264C;
	margin-bottom: 10px;
}

.signup-form {
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	padding: 10px;
}
