@import url("gmarketfont.css");

.signup-container {
	align-items: center;
	padding:0 50px 0 50px;
}

.signup-content {
	text-align: center;
	margin: 50px 0 30px 0;
}

.signup-title {
	font-family: 'GmarketSansBold';
	font-size: 40px;
	color: #04264C;
	margin-bottom: 10px;
}

.singup-subcontent {
	padding-bottom: 10px;
	border-bottom: 1px solid #CCC;
}

.signup-form {
	justify-items: center;
}

.signup-form-content {
	width: 600px;
}

table tr {
	height: 70px;
}

table th {
	font-family: 'GmarketSansBold';
}

table th span {
	color: red;
	margin-right: 2px;
}

table td {
	padding: 0 20px;
}

.write-btn {
	display: flex;
	justify-content: center;
	align-items: center;
}

.complete-btn {
	width: 200px;
	height: 25px;
	background-color: #04264C;
	color: white;
	display: block;
	margin: 15px;
}

.cancel-btn {
	width: 200px;
	height: 25px;
	background-color: #898989;
	color: white;
	display: block;
	margin: 15px;
}