<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdn.jsdelivr.net/npm/stompjs/lib/stomp.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
	<style>
		#messages {
			border: 1px solid #ccc;
			padding: 10px;
			margin-top: 10px;
			height: 400px;
			overflow-y: scroll;
			width: 300px;
		}
		
		#messageInput{
			width: 270px;
		}
		
	</style>
</head>

<body>
	<div id="class">JAVA 반 <span>홍길동</span></div>
	<div id="messages"></div>
	<input type="text" id="messageInput" placeholder="메시지를 입력하세요" />
	<button id="sendButton">전송</button>



	<script>
		const socket = new SockJS('http://localhost:8090/ws-stomp'); // socket 연결 경로
		const stompClient = Stomp.over(socket);

		stompClient.connect({}, function (frame) {
			console.log('Connected: ' + frame);


			stompClient.subscribe('/sub', function (message) { // 구독 경로
				const receivedMessage = JSON.parse(message.body); // 메시지 파싱
				displayMessage(receivedMessage.contents); // 화면에 메시지 표시
			});

			// Send message on button click
			document.getElementById('sendButton').addEventListener('click', function () {
				const contents = document.getElementById('messageInput').value;
				const message = {
					type: "SEND", // 고정된 type
					contents: contents // 입력된 내용
				};
				stompClient.send("/pub/test", {}, JSON.stringify(message)); // 메세지 전송 경로
				document.getElementById('messageInput').value = ''; // 입력 필드 초기화
			});
		});

		// 화면에 메시지를 추가하는 함수
		function displayMessage(message) {
			const messagesDiv = document.getElementById('messages');
			const messageElement = document.createElement('div');
			messageElement.textContent = message; // 메시지 내용 설정
			messagesDiv.appendChild(messageElement); // 메시지 추가
			messagesDiv.scrollTop = messagesDiv.scrollHeight; // 스크롤을 맨 아래로
		}
	</script>
</body>

</html>