<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<title>교육센터</title>
	<th:block th:insert="~{inc/index.html :: index_css}"></th:block>

	<style>

	</style>
</head>

<body>
	<th:block th:insert="~{inc/header.html :: menu}"></th:block>
	<h1>Main</h1>
	<div>메인 페이지</div>


	<hr>
	<th:block sec:authorize="isAnonymous()">
		<div th:each="member : ${dto}">
			<form method="POST" action="/loginok">
				<input type="hidden" name="username" th:value="${member.username}">
				<input type="hidden" name="password" th:value="${member.username}+'1'">
				<button th:text="${member.username}"></button>
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			</form>
		</div>
	</th:block>

	<th:block th:insert="~{inc/index.html :: index_js}"></th:block>


</body>

</html>