<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>교육센터</title>
	<th:block th:insert="~{inc/index.html :: index_css}"></th:block>
	<link rel="stylesheet" th:href="@{css/main.css}" />
	<style>
		
	</style>
</head>
<body>
	<th:block th:insert="~{inc/header.html :: menu}"></th:block>
	<h1>Main</h1>
	<div>메인 페이지</div>
	
	
	<hr>
	
	
	<th:block th:insert="~{inc/index.html :: index_js}"></th:block>
	<script th:src="@{js/main.js}"></script>
	
</body>
</html>
