<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Education-System</title>
	<th:block th:insert="~{inc/index.html :: index_css}"></th:block>
	<link rel="stylesheet" th:href="@{css/login.css}">
	<style>
		
	</style>
</head>
<body>
	<th:block th:insert="~{inc/header.html :: menu}"></th:block>
	<div class="signup-container">
		<div class="signup-content">
			회원가입
		</div>
	</div>
	<th:block th:insert="~{inc/index.html :: index_js}"></th:block>
	<script th:src="@{js/main.js}"></script>
	
</body>
</html>





