<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Education-System</title>
	<th:block th:insert="~{inc/index.html :: index_css}"></th:block>
	<link rel="stylesheet" th:href="@{css/signup.css}">
	<style>
		
	</style>
</head>
<body>
	<th:block th:insert="~{inc/header.html :: menu}"></th:block>
	<div class="signup-container">
		<div class="signup-content">
			<div class="signup-title">회원가입</div>
			<div class="singup-subcontent">회원가입 진행 후 사이트를 이용해주시길 바랍니다.</div>
		</div>
		<div class="signup-form">
			
			<form method="POST" action="/signupok">
			<table class="signup-form-content">
				<tr>	
					<th><span>*</span>아이디</th>
					<td><input type="text" id="userid" name="userid"></td>
				</tr>
				<tr>
					<th><span>*</span>비밀번호</th>
					<td><input type="password" id="password" name="password"></td>
				</tr>
				<tr>
					<th><span>*</span>이름</th>
					<td><input type="text" id="name" name="name"></td>
				</tr>
				<tr>
					<th><span>*</span>생년월일</th>
					<td><input type="date" id="birth" name="birth"></td>
				</tr>
				<tr>
					<th><span>*</span>연락처</th>
					<td><input type="text" id="phone" name="phone"></td>
				</tr>
<!--				<tr>
					<th>이메일</th>
					<td><input type="text"></td>
				</tr>-->
				<tr>
					<th><span>*</span>성별</th>
					<td>
						<input type="radio" id="man" name="gender" value="m">남자
						<input type="radio" id="woman" name="gender" value="f">여자
					</td>
				</tr>
<!--				<tr>
					<th>주소</th>
					<td><input type="text"></td>
				</tr>-->
			</table>
			<div class="write-btn">
				<button type="submit" class="complete-btn">가입하기</button>
				<button type="button" class="cancel-btn">돌아가기</button>
			</div>
			</form>
		</div>
	</div>
	<th:block th:insert="~{inc/index.html :: index_js}"></th:block>
	<script th:src="@{js/main.js}"></script>
	
</body>
</html>





